@tailwind base;
@tailwind components;
@tailwind utilities;
/* Amiko Bold */
@font-face {
  font-family: 'Amiko-Bold';
  src: url('./fonts/Amiko/Amiko-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/* Amiko Regular */
@font-face {
  font-family: 'Amiko-Regular';
  src: url('./fonts/Amiko/Amiko-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Amiko SemiBold */
@font-face {
  font-family: 'Amiko-SemiBold';
  src: url('./fonts/Amiko/Amiko-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
/* Merriweather Bold */
@font-face {
  font-family: 'Merriweather-Bold';
  src: url('./fonts/Merriweather/Merriweather-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/* Merriweather Regular */
@font-face {
  font-family: 'Merriweather-Regular';
  src: url('./fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Nunito Regular */
@font-face {
  font-family: 'Nunito-Regular';
  src: url('./fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --base-font-size: 16px; /* Set your base font size here */
  --primary-color: #025464; /* Define primary color variable */
}

.heading {
  font-family: 'Merriweather-Bold';
  font-size: 1.75rem;
  color: var(--primary-color); /* Use primary color variable */
}

.phone-heading {
  font-family: 'Merriweather-Bold';
  font-size: 1.3125rem;
  color: var(--primary-color);
}

.subheading {
  font-family: 'Merriweather-Bold';
  font-size: 1.3125rem;
  color: black;
}

.phone-subheading {
  font-family: 'Merriweather-Bold';
  font-size: 1rem;
  color: black;
}

.text {
  font-family: 'Amiko-Regular';
  font-size: 1rem;
  color: black;
}

.smalltext {
  font-family: 'Amiko-Regular';
  font-size: 0.875rem;
  color: black;
}

.cardtext {
  font-family: 'Amiko-Regular';
  font-size: 0.625rem;
  color: black;
}

.herotext {
  font-family: 'Nunito-Regular';
  font-size: 3rem;
  color: var(--primary-color); /* Use primary color variable */
}






